.card
{
    border: none;
    border-radius: 14px;
    margin-bottom: 20px;
}

.card img
{
    border-radius: 14px;
    max-height: 150px;
    width: auto;
}

.card h4
{
    padding: 4px 15px;
    margin: 0%;
    color: #34495E;
}

.card h6
{
    padding: 4px 15px;
    color: #42526E;
}

.cards
{
    margin-top: 25px;
}
