.detalhes
{
    background-color: #FFF;
    border-radius: 8px;
    margin: 50px 0px;
}

.detalhes-div
{
    padding: 40px;
}

.detalhes ul li 
{
    font-size: 18px;
    color: #34495E;
}

.detalhes ul li i
{
    padding: 0px 8px;
    font-size: 22px;
}

.detalhes h3
{
    color: #2C3E50;
    font-weight: 610;
    font-size: 22px;
    padding: 20px 0px;
    margin: 0px;
}

.detalhes h5
{
    color: #34495E;
    font-weight: 610;
    font-size:18px
}

.detalhes h6
{
    color: #34495E;
    font-size:16px;
    color: #34495E;
}

.detalhes .perfil
{
    text-align: center;
}

.detalhes .perfil img
{
    max-width: 160px;
    border-radius: 26px;
    margin-top: -90px;
}

.detalhes .perfil h3
{
    color: #2C3E50;
    font-weight: 610;
}

.detalhes .perfil p
{
    color: #2C3E50;
    font-weight: 610;
}

.detalhes-card
{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px 0px;
}

.btn-default
{
    border: 1px solid #BDC3C7;
}

.btn-light
{
    border: 1px solid #dcdde1;
}