.navbar-topo
{
    margin: 15px 0px;
    border-radius: 8px;
    background-color: #FFF;
    padding: 5px 18px;
    width: 100%;
}

.navbar-topo ul li,
.navbar-topo ul li a
{
    font-size: 20px;
    padding: 0px 5px;
    color: #2c3e50;
}