.container-registrar
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-registrar img
{
    max-width: 140px;
    padding: 15px 0px;
}

.container-registrar h3
{
    padding: 7px 0px;
    font-weight: 620;
}

.container-registrar h4
{
    padding: 7px 0px;
}

.input-group-text
{
    margin: 20px 0px;
}