.div-list
{
    background-color: #FFF;
    border-radius: 8px;
}

hr
{
    margin:0px;
    padding: 0px;
}

.div-list .row
{
    padding: 10px;
}

.div-list .row i
{
    font-size: 20px;
}

.div-list h4
{
    font-weight: 600;
    color: #2C3E50;
}

.icon-crud
{
    font-size: 20px;
    color: #2c3e50;
}

.div-main-crud
{
    background-color: #FFF;
    border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}

.div-main-crud p
{
    padding: 10px 0px;
}

.text-breadcrumb
{
    text-decoration-style: none;
    color: #2c3e50;
}

.table
{
    color: #34495e;
    border-collapse: collapse;
    margin-top: 5px;
    padding-top:20px;
    padding-bottom: 20px;
}

.table-head tr th
{
    color: #2c3e50;
    background-color: #f6f9fc;
    vertical-align: middle;
    font-size: 16px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid #e9ecef;
    white-space: nowrap;
    font-weight: 620;
}
